<!DOCTYPE html>
<html dir="ltr" lang="pt-br" >

<head>

    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="author" content="Luiz Carlos Faria" href="https://github.com/luizcarlosfaria/" />

    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Document Title
    ============================================= -->
    <title>Echo Server</title>

</head>
<body class="bg-gray-300">

    @RenderBody()

    @await RenderSectionAsync("Scripts", required: false)
    
</body>
</html>
